/GoGame/nbproject/private/
/GoGame/build/
/SeverGoGame/nbproject/private/
/SeverGoGame/build/
/testpj/nbproject/private/
/testpj/build/
/GoGame/dist/
/game/nbproject/private/
/testgo/nbproject/private/
